*{
    margin:0px;
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(220, 220, 220);
}

body {background-color: rgb(21, 21, 21);
    margin-bottom: 60px;}

h1{color: rgba(255, 255, 0, 0.726);
    font-family: 'Bigelow Rules';
    font-size: 100px;
 }
h3{margin-bottom: 20px;
    color: rgba(255, 255, 0, 0.538);}

p {margin-bottom:20px;}

header {
    margin-top: 60px; 
    text-align: center;
}

main {
    max-width: 700px;
    max-width: 700px;
    margin-left:auto;
    margin-right: auto;
}

section {
    background-color: rgb(25, 25, 25);
    border-radius: 15px;
    margin: 20px; 
    padding: 10px; 
    padding-bottom: 30px; 
    padding-top: 30px;
}


/* Quiz formm */

input[type=submit]{
    background-color: green;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 95%;
    padding: 4px 3px; 
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-size: 25px; 

}

input[type=submit]:hover{background-color: rgb(1, 102, 1);}

#quiz input[type=text] {
    background-color: rgb(45, 45, 45); 
    width: 50%;
    border-radius: 15px;
    border: none;
    padding: 5px;
}


/* Name forum */

#nameForm input[type=text] {
    background-color: rgb(45, 45, 45); 
    width: 98%;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

#nameForm input[type=submit] {
    background-color: green; 
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 15px;
}

#nameForm input[type=submit]:hover{background-color: rgb(1, 102, 1);}

#nameForm label {
    padding: 5px; 
}


/* comes up with submit JS */

#nameVal{
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
}

#quizVal{
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
}

#quizScore{
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 600px;
    font-size: 60px;
}

.right {
    margin-top: 18px; 
    color: orange;
}

#q3Val{
    margin-top: 15px;
}



